external_libraries
library_*
runs/temp_*
build
*.pyc
__pycache__
output
error
*.h5
*.vtu
*.pvtu

VoroCrust/CMakeFiles
VoroCrust/cmake_install.cmake
VoroCrust/CMakeCache.txt
VoroCrust/VoroCrust.out
VoroCrust/Makefile