external_libraries
library_*
runs/temp_*
build
*.pyc
__pycache__
runs/

VoroCrust/CMakeFiles
VoroCrust/cmake_install.cmake
VoroCrust/CMakeCache.txt
VoroCrust/VoroCrust.out
VoroCrust/Makefile
VoroCrust/*.vtu
VoroCrust/output.txt
