external_libraries
library_*
runs/temp_*
build
*.pyc
__pycache__
*.h5
*.vtu
*.pvtu
*.mat
rich
output
error
VoroCrust/CMakeFiles
VoroCrust/cmake_install.cmake
VoroCrust/CMakeCache.txt
VoroCrust/VoroCrust.out
VoroCrust/Makefile
VoroCrust/*/*.vtu
VoroCrust/*/*.vtp
VoroCrust/*.txt
VoroCrust/*/*.txt
